@import url(../base/errors.css);

body {
	font-family: 'Open Sans',Arial,Helvetica,sans-serif;
}
#logo {
   top: 320px;
   left: 20px;
   position: absolute;
   height:92px;
   width:108px;
}

div.message h1 {
  border-bottom: 0px;
  left: 170px;
  position: relative;
  margin-top: -20px;
}

div.message p {
  left: 170px;
  position: relative;
  font-size: 16px;
  width: 400px;
  color: #999;
}

#header {
  background: url(images/logo.png) top left no-repeat;
  height: 142px;
  margin-left: 20px;
  margin-top: 48px;
  position: relative;
}


#wrap {
  margin: 120px 20px 0px 20px;
  background: white;
  height: 480px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

#languages {
  top: 600px;
  position: absolute;
  text-align: center;
  width: 860px;
  border-top: 0px;
}

#languages a {
  font-variant: small-caps;
  color: black;
  font-size: 14px;
}
