body {
  background: url(images/dialoga_background.jpg) bottom repeat-x;
  min-height: 400px;
  z-index: 1000;
}

#content {
  min-height: 300px;
}


.controller-profile .not-logged-in {
  background-color: #3449b7;
  display: inline-block;
  width: 100%;
  margin-top: 131px;
  line-height: 30px;
  font-size: xx-large;
  text-align: center;
  padding: 10px;
  color: white;
}

.controller-profile .not-logged-in span.or{
}
.controller-profile .not-logged-in span.signup  {
}


.controller-profile .not-logged-in a {
  color: white;
}

#signup-form {
  margin-bottom: 177px;
}

#signup-form #signup-form-header{
  margin: 0px;
  width: 393px;
}

#user {
  text-align: center;
  /*border: 1px solid red;*/
  /*
  height: 130px;
  background-image: url(images/logo_dialoga.jpg);
  */
  background-repeat: no-repeat;
  background-position: center top;
}

.controller-content_viewer .action-content_viewer-view_page form#top-search,
.controller-content_viewer .action-content_viewer-view_page #content,
.controller-content_viewer .action-content_viewer-view_page #link-go-content,
form#top-search,
.controller-profile .action-profile-index #content,
.button.icon-back,
.controller-profile_members .button.icon-person,
.ctrl-panel,
.admin-link,
.main-content h1,
.filter_fields p:first-of-type,
#link-go-content,
div#article-actions,
#site-title,
.not-logged-in {
  display: none;
}

.control-panel-todo {
  background-image: url(images/editpaste.png);
  background-repeat: no-repeat;
  background-position: 0px 50%;
  width: 140px;
  height: 48px;
  padding: 4px 5px 0px 55px;
  margin-bottom: 30px;
  margin-right: 10px;
  display: block;
  float: left;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.control-panel-cms {
  background-image: url(images/system-file-manager.png);
  background-repeat: no-repeat;
  background-position: 0px 50%;
  width: 140px;
  height: 48px;
  padding: 4px 5px 0px 55px;
  margin-bottom: 30px;
  margin-right: 10px;
  display: block;
  float: left;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.control-panel-roles {
  background-image: url(images/role-management.png);
  background-repeat: no-repeat;
  background-position: 0px 50%;
  width: 140px;
  height: 48px;
  padding: 4px 5px 0px 55px;
  margin-bottom: 30px;
  margin-right: 10px;
  display: block;
  float: left;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.control-panel-members {
  background-image: url(images/contact.png);
  background-repeat: no-repeat;
  background-position: 0px 50%;
  width: 140px;
  height: 48px;
  padding: 4px 5px 0px 55px;
  margin-bottom: 30px;
  margin-right: 10px;
  display: block;
  float: left;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.custom-control-panel {
  list-style: none;
}

/* Footer */

.logged-in #footer {
  height: 211px;
  bottom: 0px;
  margin-top: 50px;
}

.logged-in #user {
  float: right;
}

span.logged-in{
  margin-right: 100px;
}

span.logged-in a,
span.logged-in a:visited{
  color: black;
  margin-left: 5px;
}

.logged-in.controller-content_viewer .action-content_viewer-view_page #content,
.logged-in.controller-profile .action-profile-index #content,
.logged-in.controller-profile_editor #content{
  display: block;
}

body {
  margin: 0;
  padding: 0;
}

div#wrap-2 {
  margin: 0 2%;
}

#custom-control-panel {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 48px;
  background-color: #FFDCB1;
  box-shadow: 0px 2px 8px;
}

#custom-control-panel li {
  float: left;
}

#custom-control-panel li:hover {
  background-color: #A5C598;
}

#custom-control-panel li + li {
  border-left: 1px solid white;
}

#custom-control-panel a {
  padding: 20px;
  line-height: 48px;
  text-decoration: none;
  color: #FF792D;
  font-weight: bold;
}
.template-fields .available-params {
  display: none;
}

div#inlineLoginBox input#main_user_login,
div#inlineLoginBox input#user_password,
.login-box input#main_user_login,
.login-box input#user_password {
  height: 27px;
  background: white;
  font-size: 14px;
  border: 1px solid #CCC;
}

div#inlineLoginBox label.formlabel {
  font-size: 16px;
}

#custom-control-panel .tab_active {
  background-color: #69B74A;
}

#custom-control-panel .tab_active a {
  color: #FFF;
}

#logo-dialoga {
  background: url(images/logo.png) no-repeat;
  height: 60px;
  margin: 20px;
}

#custom-control-panel a.join-community {
  display: inline !important;
}

.logged-in .login-dialoga {
  display: none;
}
#content .boxes > h1,
#content .boxes .task-processed > h1 {
  display: none;
}

#dialoga-statistics {
  position: absolute;
  top: 2px;
  right: 0;
  color: gray;
  font-size: 11px;
  max-width: 350px;
  margin-right: 10px;
}
#dialoga-statistics .updated-at {
  font-size: 10px;
  color: rgb(182, 182, 182);
}
#dialoga-statistics .label {
  font-weight: bold;
  color: rgb(170, 170, 170);
}
